* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #ffffff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)), url("img/QA.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;
}

section {
    padding: 60px 0;
    margin-bottom: 30px;
}

.section-features {
    height: 770px;
}

.section-images {
    width: 100%;
    height: 700px;
}

.box {
    padding: 1%;
    height: auto;
}

h1,
h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 200%;
    word-spacing: 3px;
    line-height: normal;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #0894b2;
    content: " ";
    width: 200px;
    margin: 30px auto 0;
}

h3 {
    font-size: 90%;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    font-weight: normal;
    height: auto;
}

.box p {
    font-size: 85%;
    line-height: 145%;
}

.box{
    min-height: content-box;
}

.icon-big {
    font-size: 200%;
    display: block;
    color: #0894b2;
    margin-bottom: 10px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 13px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #0abde3;
    border: 1px solid #0abde3;
    color: #ffffff;
}

.btn-ghost {
    margin-left: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #0abde3;
    color: #0abde3;
}

.btn:hover,
.btn:active {
    background-color: #0894b2;
    border: 1px solid #0894b2;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #ffffff;
}

.logo {
    height: 40px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
}

/* here is main nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
 .main-nav li a:visited {
     padding: 7px 0;
     color: #ffffff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 85%;
     border-bottom: 2px solid transparent;
     transition: border-bottom 1s;
 }

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #0894b2;
}

/* here is sticky nav--*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 1px #efefef;
    z-index: 9999;
    height: 55px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 7px 0;
    color: #555555;
}



.process-photo img {
    width: 430px;
    height: 340px;
}

.process-images {
    list-style: none;
    width: 100%;
}

.process-images li {
    display: block;
    float: left;
    width: 45%;
}

.process-photo {
    width: 80%;
    margin-left: 20%;
    margin-bottom: 50px;
}

.process-images img {
    width: 100%;
    height: auto;
    margin-top: 35px;
}

footer {
    width: 100%;
    background-color: rgba(4, 13, 20, 0.95);
    background-size: cover;
    background-position: center;
    min-height: content-box;
    min-height: content-box;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
    margin-left: 150px;
}

.social-links li {
    display: inline-block;
    margin-right: 30px;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    display: inline-block;
    padding: 0px 30px;
    color:  #0abde3;
    font-size: medium;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    position: center;
}

.social-links li a {
    display: inline-block;
    padding: 0px 10px;
    color:  #0abde3;
    font-size: medium;
    position: center;
}

#f-navs {
    width: 100%;
    height: 75px;
    background-color: rgba(4, 13, 20, 0.95);
}